:root {
        /* Basic colors */
        // --scheme-color: #d4d4d4;
        // --highlight-color: #004b97;
        --highlight-color-invert: #d4d4d4;
        --base-color: black; // mostly for text <=> --scheme-color-invert
        --base-color-mute: #4d4d4d; //lightmute: #b2b2b2
        /* Classification colors */
        --color-1: #01724b;
        --color-3: #bc5b00;
        --color-3: #c40639;
        --color-1-invert: white;
        --color-3-invert: white;
        --color-3-invert: white;
        /* Others */
        --border-radius: 9px;

        // lg
        --container-max-width: 1100px;
        --container-padding: 40px;
        // TODO: sm - md...

        --scheme-color: 212, 212, 212;
        --highlight-color: 0, 75, 151;
}

//SASS variables just to ease referecing in other SCSS files
$schemeColor: RGB(var(--scheme-color));
$highlightColor: RGB(var(--highlight-color));
$contrastHighlightColor: var(--highlight-color-invert);
$baseColor: var(--base-color);
$muteBaseColor: var(--base-color-mute);

$colorfull1: var(--color-1);
$colorfull2: var(--color-3);
$colorfull3: var(--color-3);
$contrastColorfull1: var(--color-1-invert);
$contrastColorfull2: var(--color-3-invert);
$contrastColorfull3: var(--color-3-invert);

$borderRadius: var(--border-radius);
$transitionDuration: 0.8s;

/* FONT */
$fontRegular: "Agency FB", sans-serif;
$fontBold: "Agency FB Bold", sans-serif;
$fontTitle: "Poppins", sans-serif;
$fontScale: 1;
$fontTitleScale: 1;
$sliderMargin: 0px;
$badgeIconScale: 1;
