:root {
        /* Basic colors */
        // --scheme-color: #d4d4d4;
        // --highlight-color: #004b97;
        --highlight-color-inverted: #d4d4d4;
        --base-color: black; // mostly for text <=> --scheme-color-inverted
        --base-color-muted: #4d4d4d; //lightMuted: #b2b2b2
        /* Classification colors */
        --group-1-color: #01724b;
        --group-2-color: #bc5b00;
        --group-3-color: #c40639;
        --group-1-color-inverted: white;
        --group-2-color-inverted: white;
        --group-3-color-inverted: white;
        /* Others */
        --border-radius: 9px;

        // lg
        --container-max-width: 1100px;
        --container-padding: 40px;
        // TODO: sm - md...

        --scheme-color: 212, 212, 212;
        --highlight-color: 0, 75, 151;
}

//SASS variables just to ease referecing in other SCSS files
$schemeColor: RGB(var(--scheme-color));
$highlightColor: RGB(var(--highlight-color));
$contrastHighlightColor: var(--highlight-color-inverted);
$baseColor: var(--base-color);
$mutedBaseColor: var(--base-color-muted);

$colorfull1: var(--group-1-color);
$colorfull2: var(--group-2-color);
$colorfull3: var(--group-3-color);
$contrastColorfull1: var(--group-1-color-inverted);
$contrastColorfull2: var(--group-2-color-inverted);
$contrastColorfull3: var(--group-3-color-inverted);

$borderRadius: var(--border-radius);
$transitionDuration: 0.8s;

/* FONT */
$fontRegular: "Agency FB", sans-serif;
$fontBold: "Agency FB Bold", sans-serif;
$fontTitle: "Poppins", sans-serif;
$fontScale: 1;
$fontTitleScale: 1;
$sliderMargin: 0px;
$badgeIconScale: 1;
