:root {
        --scheme-color: #d4d4d4;
        --highlight-color: #004b97;
        --highlight-color-inverted: #d4d4d4;
        --base-color: black; // mostly for text <=> --scheme-color-inverted
        --base-color-muted: #4d4d4d; //lightMuted: #b2b2b2
}

//SASS variables just to ease referecing in other SCSS files
$schemeColor: var(--scheme-color);
$highlightColor: var(--highlight-color);
$contrastHighlightColor: var(--highlight-color-inverted);
$baseColor: var(--base-color);
$mutedBaseColor: var(--base-color-muted);

$colorfull1: #01724b;
$colorfull2: #bc5b00;
$colorfull3: #c40639;
$contrastColorfull1: white;
$contrastColorfull2: white;
$contrastColorfull3: white;

$borderRadius: 9px;
$transitionDuration: 0.8s;

/* FONT */
$fontRegular: "Agency FB", sans-serif;
$fontBold: "Agency FB Bold", sans-serif;
$fontTitle: "Poppins", sans-serif;
$fontScale: 1;
$fontTitleScale: 1;
$sliderMargin: 0px;
$badgeIconScale: 1;
