@import "../../scss/init/neu";

.dropdown {
        margin-top: .5rem;
        margin-bottom: .5rem;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
}

.dropdown button {
        margin: 0;
        position: relative;
        transition: all 0.2s ease;
        letter-spacing: 0.025em;
        font-size: 1rem;
        border-width: 0;
        border-radius: $borderRadius;
        color: $baseColor;
        background-color: $schemeColor;
        padding: .375rem .75rem;
}

.dropdown>button.focus,
.dropdown>button:focus {
        box-shadow: $dropBoxShadow;
}

.dropdown>button:hover {
        color: $highlightColor;
        background-color: $schemeColor;
        // box-shadow: $insetBoxShadow;
        box-shadow: #{$concaveBoxShadow};
}

// LABEL LEFT BUTTON
.dropdown-label {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        box-shadow: $dropBoxShadow;
}

// TOGGLE RIGHT BUTTON
//hide default arrow
.dropdown-toggle::after {
        display: none;
}

.dropdown-toggle {
        color: $highlightColor;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
}

.dropdown-toggle,
.dropdown-toggle:focus {
        white-space: nowrap;
        box-shadow: 3px 3px 4px $darkenSchemeColor,
                0px -3px 4px $lightenSchemeColor;
}

.dropdown .dropdown-arrow {
        transition: all 0.2s ease;
}

.dropdown.show .dropdown-arrow {
        transform: rotate(180deg);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
        color: $highlightColor;
        background-color: $schemeColor;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
        box-shadow: #{$concaveBoxShadow};
}

.dropdown-toggle-split {
        padding-right: 0.7125rem;
        padding-left: 0.7125rem;
}

//  OPTION MENU
.dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        padding: 0;
        margin: 10px 0 0;
        color: $mutedBaseColor;
        text-align: left;
        list-style: none;
        background-color: $schemeColor;
        background-clip: padding-box;
        border-width: 0;
        border-radius: $borderRadius;
        box-shadow: $dropBoxShadow;
}

.dropdown-item {
        color: $mutedBaseColor;
        transition: all 0.2s ease;
        border-radius: $borderRadius;
        padding: .5rem 1rem;
}

.dropdown-item:hover {
        color: $highlightColor;
        // box-shadow: $insetBoxShadow;
        box-shadow: #{$concaveBoxShadow};
        background-color: $schemeColor;
}