//wrapper
.form-item {
        .form-group {
                margin: 0;
                .form-control {
                        background: transparent;
                        height: 44px;
                        font-size: 1.25rem;
                        position: relative;
                        transition: border 0.9s ease;
                        padding: 1rem;
                        border: 0;
                }
        }
}
