.code-block {
        font-style: italic;
        // padding: 7px;
        margin: 10px 0 40px;
        font-size: 1rem;
        border-radius: $borderRadius;

        pre {
                background-color: transparent;

                code {
                        text-shadow: 0 .5px $baseColor;
                        display: block;
                        // white-space: pre;
                        white-space: pre-wrap;
                        white-space: -moz-pre-wrap;
                        white-space: -o-pre-wrap;
                }
        }
}