.title-bar-text-wrapper {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 900;
        opacity: 0.12;
        font-family: "Poppins", sans-serif;
        margin-top: -18px;
        color: $baseColor;
}

.title-bar-text {
        text-align: center;
        position: relative;
        top: -48px;
        font-size: 2rem;
        font-weight: 900;
        font-family: "Poppins", sans-serif;
        margin-bottom: 0;
        color: $highlightColor;
}

.title-bar-controls {
        display: none;
}
