// TODO: Separate this file to each component type
.section,
.display-content > .container.none-bg,
body,
.box-border,
.segmented-control,
.image-border,
.skill-box .skillbar,
.blog .blog-image,
.blog .blog-item .before,
.toggle .indicator {
  background-color: $schemeColor;
}

.bg-highlight-color,
.border-style {
  background-color: $highlightColor;
}

// PAGE PILLING
#pp-nav li :not(.active) span {
  background-color: $baseColor;
}

#pp-nav li .active span {
  background-color: $highlightColor;
}

.highlight-color,
.overlay-menu a.active,
.timeline-year,
.portfolio .radio-button-group li a,
.contact .form-item .form-control,
.highlight-portfolio-item.fa-star,
.portfolio .portfolio-icon a:hover {
  color: $highlightColor;
}

body,
.logo,
.setting-button-border i,
.follow-label,
.social a i,
.blog-content h6 a,
.form-group input,
.form-group textarea,
.overlay-menu-toggler,
.modal-title,
.portfolio-single .close,
.pp-tooltip,
.blog-label a {
  color: $baseColor;
}

.blog-content .list-inline-item span,
.hero-content p,
.title-wrapper span,
.form-control,
// #color-panel label,
// .setting-panel-content p,
//contact
.form-control::placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder,
.contact-info-text small {
  color: $mutedBaseColor;
}

.colorfull1,
.background-colorfull1 > .badge {
  color: $colorfull1;
}

.colorfull2,
.background-colorfull2 > .badge {
  color: $colorfull2;
}

.colorfull3,
.background-colorfull3 > .badge {
  color: $colorfull3;
}

.background-colorfull1 {
  background-color: $colorfull1;
  color: $contrastColorfull1;
}

.background-colorfull2 {
  background-color: $colorfull2;
  color: $contrastColorfull2;
}

.background-colorfull3 {
  background-color: $colorfull3;
  color: $contrastColorfull3;
}

#education-timeline .timeline-items .timeline-border {
  border-color: $colorfull1;
}

#experience-timeline .timeline-items .timeline-border {
  border-color: $colorfull2;
}

#achievements-timeline .timeline-items .timeline-border {
  border-color: $colorfull3;
}

.overlay-menu-toggler:hover,
.checkbox input:checked ~ label i,
.social i:hover,
.list-inline.socials li a i:hover,
#myMenu li a:hover {
  color: $highlightColor;
}

// PRELOADER
.loader {
  // border-color: $baseColor;
  border-top-color: $highlightColor;
}

#overlayer {
  background-color: $schemeColor;
}

.blog .blog-image,
.blog .blog-image .after,
.blog .blog-intro,
.blog .blog-intro img,
.post-sidebar,
.post-sidebar-toggle,
.aside-contents,
.search .form-group,
.breadcrumb,
.blog-single img,
.comments img,
.comments .commnet-image-border img,
.comments-devider,
.contact .form-item .form-group,
.contact #message.toast,
.setting-button,
.setting-button a,
.nes-btn::after,
.image-border img,
.image-border,
.setting-section .setting-panel,
.setting-button-border,
.setting-button,
.duties .image-border .box-hover-border,
.box-border,
.badge,
.badge-border,
.course-item img,
.book-item > img,
.skill-box .skillbar,
.skill-box .fill-skillbar,
.segmented-control,
.radio-selection,
.checkbox label,
.modal-content,
table,
.injected-section,
.display-content,
.display-content > .container,
.display-content > .container::before,
.portfolio-item-content,
.portfolio-icon a,
.portfolio-single img,
.checkbox label,
.testimonial .owl-carousel .owl-dot span,
.skill-item,
.color-scheme li a,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
.portfolio-item-content::before,
.form-group input,
.form-group textarea,
.video-container,
.alert {
  border-radius: $borderRadius;
}

//TODO: radius for border-background
.nes-btn {
}

.checkbox i {
  color: $mutedBaseColor;
}

// CURSOR
.flat-style,
.neu-style,
.glass-style {
  * {
    // cursor: default;
  }

  .dui-radio .label,
  .checkbox label,
  i,
  .overlay-menu-toggler,
  input[type="color"] {
    * {
      cursor: pointer;
    }

    cursor: pointer;
  }
}
