@import "../base/_variables";

$transparency:0.6;
$blur:10;
$borderSize:1;

$schemeColorA: rgba(212, 212, 212, $transparency);
$lightenSchemeColorA: rgba(250, 250, 250, $transparency);
$highlightColorA: rgba(0, 75, 155, $transparency);
$darkenHighlightColorA: rgba(3, 54, 105, $transparency);
$contrastHighlightColor: white;

$colorfull1A: rgba(1, 114, 75, $transparency);
$colorfull2A: rgba(188, 91, 0, $transparency);
$colorfull3A: rgba(196, 6, 57, $transparency);

@mixin blur-and-border {
        backdrop-filter: blur(#{$blur}px);
        -webkit-backdrop-filter:blur(#{$blur}px);
        border: #{$borderSize}px solid rgba(209, 213, 219, 0.6),
}

.glass-style {

        .button:not(.radio-button-group .button),
        .radio-button-group .button.active,
        .radio-button-group .button:not(.active):hover,
        .radio-selection,
        table>tbody>tr:hover {
                background-color: $highlightColorA;
                color: $contrastHighlightColor;
                @include blur-and-border();
        }

        .box-border,
        .image-border,
        .contact .form-item .form-group,
        .segmented-control,
        .checkbox label,
        .setting-button-border,
        .setting-panel,
        .setting-button {
                background-color: $lightenSchemeColorA;
                color: $baseColor;
                @include blur-and-border();
        }

        .display-content>.container.background-0,
        .range-slider__range,
        .range-slider__value,
        .modal-content {
                background-color: $schemeColorA;
                color: $baseColor;
                @include blur-and-border();
        }

        .radio-button-group .button:not(.active) {
                color: $highlightColor;
        }

        .background-colorfull1:not(.fill-skillbar) {
                background-color: $colorfull1A;
        }

        .background-colorfull2:not(.fill-skillbar) {
                background-color: $colorfull2A;
        }

        .background-colorfull3:not(.fill-skillbar) {
                background-color: $colorfull3A;
        }

        //HOVER
        .button:hover {
                background-color: $darkenHighlightColorA;
                color: $contrastHighlightColor;
                @include blur-and-border();
        }

        // RADIO
        .segmented-control>input:not(:checked):not(:hover)+label {
                color: $mutedBaseColor;
        }

        .segmented-control>input:hover+label {
                color: $highlightColor;
        }

        .segmented-control>input:checked+label {
                color: $contrastHighlightColor;
        }

        // CHECKBOX
        .checkbox input:not(:checked):not(:hover)~label i,
        .checkbox input:not(:checked)~label+.name {
                color: $mutedBaseColor;
        }

        .checkbox input:checked~label+.name,
        .checkbox input:checked~label i,
        .checkbox input:hover~label i {
                color: $highlightColor;
        }

        // SCROLLBAR
        ::-webkit-scrollbar-track {
                background-color: $lightenSchemeColorA;
                @include blur-and-border();
        }

        ::-webkit-scrollbar-thumb {
                background-color: $highlightColorA;
                @include blur-and-border();
        }

        ::-webkit-scrollbar-thumb:hover {
                background: $darkenHighlightColorA;
                @include blur-and-border();
        }

        // RANGE SLIDER 
        ::-webkit-slider-thumb {
                background-color: $highlightColorA;
                @include blur-and-border();
        }

        ::-webkit-slider-thumb:hover {
                background-color: $darkenHighlightColorA;
                @include blur-and-border();
        }
}