@import "../base/_variables";

//TODO: Init border and surface

$distanceX:3;
$distanceY:3;
$blur:4;
$spread:0;
$lightenSchemeColor:#e6e6e6;
$darkenSchemeColor: #c2c2c2;

$dropBoxShadow : #{$distanceX}px #{$distanceY}px #{$blur}px #{$spread}px #{$darkenSchemeColor},
-#{$distanceX}px -#{$distanceY}px #{$blur}px #{$spread}px #{$lightenSchemeColor};

$insetBoxShadow : inset #{$distanceX}px #{$distanceY}px #{$blur}px #{$spread}px #{$darkenSchemeColor},
inset -#{$distanceX}px -#{$distanceY}px #{$blur}px #{$spread}px #{$lightenSchemeColor};

$concaveBoxShadow:"#{$dropBoxShadow},  #{$insetBoxShadow}";

$thumbScrollbarBoxShadow:inset -#{$distanceX}px -#{$distanceY}px #{$blur}px #{$spread}px #{$darkenSchemeColor},
inset #{$distanceX}px #{$distanceY}px #{$blur}px #{$spread}px #{$lightenSchemeColor};



.neu-style {

        /*-------------------------
      FORM COMPONENTS
-------------------------*/
        .dui-radio {
                $radioIndicatorUncheckedBoxShadow: -4px -2px 4px 0px $darkenSchemeColor,
                        4px 2px 8px 0px $lightenSchemeColor;
                $radioIndicatorCheckedBoxShadow: -4px -2px 4px 0px $lightenSchemeColor,
                        4px 2px 8px 0px $darkenSchemeColor;

                .indicator {
                        box-shadow: $dropBoxShadow;
                }

                .indicator::before {
                        box-shadow: $radioIndicatorUncheckedBoxShadow;
                }

                .indicator::after {
                        box-shadow: $radioIndicatorCheckedBoxShadow;
                }
        }

        .range-slider {
                .range-slider__value {
                        background-color: $schemeColor;
                        box-shadow: $dropBoxShadow;
                }

                .range-slider__range {
                        background-color: $schemeColor;
                        box-shadow: $insetBoxShadow;
                }

                ::-webkit-slider-thumb {
                        background-color: $schemeColor;
                        box-shadow: $dropBoxShadow;
                }

                ::-webkit-slider-thumb:hover,
                input[type=range]:focus {
                        box-shadow: #{$concaveBoxShadow};
                }
        }

        /*-------------------------
      CONTAINER COMPONENTS
-------------------------*/
        .code-block {
                box-shadow: $insetBoxShadow;
        }

        /* TEXT DROP SHADOW */
        // $x: 2.5;
        // $y: 2.5;
        // $z: 3;
        // $textDropShadow : -#{$x}px -#{$y}px #{$z}px #{$lightenSchemeColor},
        // #{$x}px #{$y}px #{$z}px #{$darkenSchemeColor};
        // .title-wrapper {
        //         opacity: 1;
        //         margin-bottom: 2rem;
        //         margin-top: -1.5rem !important;
        // }

        // .title-wrapper span {
        //         text-shadow: $textDropShadow;
        //         color: $schemeColor;
        //         font-size: 3.5rem;
        // }

        // .title-content {
        //         display: none;
        // }

        .button-border,
        .box-border,
        .image-border,
        .badge-border,
        .setting-button-border,
        .segmented-control,
        .hero-03 .personal-image img,
        .checkbox label,
        .blog-intro,
        table,
        table thead,
        .form-group input:focus,
        .form-group textarea:focus,
        .setting-panel,
        .toggle .indicator {
                box-shadow: $dropBoxShadow;
        }

        .button.active,
        .setting-button.active,
        .radio-button-group .button.active,
        .custom-scrollbar,
        .blog .blog-image .after,
        .skill-boxes .box-border,
        //setting panel
        .setting-section .scrollable,
        .timeline-items.box-border,
        .radio-selection {
                box-shadow: $insetBoxShadow;
        }

        //    .form-group,
        .toggle,
        .form-group input,
        .form-group textarea,
        .skill-box .skillbar {
                box-shadow: #{$concaveBoxShadow}; //unquote
        }

        .section,
        .display-content>.container,
        .button,
        .setting-button,
        .setting-button a,
        .setting-panel,
        .contact .form-item .form-group,
        .segmented-control,
        .checkbox label,
        .portfolio-single .modal-content,
        ::-webkit-scrollbar-track {
                background-color: $schemeColor;
        }

        // RADIO
        .segmented-control>input:not(:checked):not(:hover)+label {
                color: $mutedBaseColor;
        }

        .button,
        .segmented-control>input:checked+label,
        .segmented-control>input:hover+label {
                color: $highlightColor;
        }

        // HOVER
        .button:hover,
        .badge-border:hover,
        table>tbody>tr:hover,
        .setting-button:hover {
                box-shadow: $insetBoxShadow;
        }

        // CHECKBOX
        .checkbox input:checked~label {
                box-shadow: $insetBoxShadow;
        }

        .checkbox input:not(:checked):not(:hover)~label i,
        .checkbox input:not(:checked)~label+.name {
                color: $mutedBaseColor;
        }

        .checkbox input:checked~label+.name,
        .checkbox input:checked~label i,
        .checkbox input:hover~label i {
                color: $highlightColor;
        }

        // SCROLLBAR
        ::-webkit-scrollbar-track {
                box-shadow: $insetBoxShadow;
                background-color: $schemeColor;
        }

        ::-webkit-scrollbar-thumb {
                box-shadow: $thumbScrollbarBoxShadow;
                background-color: $schemeColor;
        }
}