.neu-style {
        //TODO: Init border and surface

        --distance-x: 3px;
        --distance-y: 3px;
        --blur: 4px;
        --spread: 0px;
        --scheme-color-lighten: #e6e6e6;
        --scheme-color-darken: #c2c2c2;
        --light-surface-color: RGB(var(--scheme-color));
        --dark-surface-color: RGB(var(--scheme-color));
        --border: 0px solid #fafafa;

        $bgSurface: linear-gradient(
                145deg,
                var(--light-surface-color),
                var(--dark-surface-color)
        );
        $dx: var(--distance-x);
        $ndx: calc(#{var(--distance-x)} * -1);
        $dy: var(--distance-y);
        $ndy: calc(#{var(--distance-y)} * -1);
        $b: var(--blur);
        $s: var(--spread);
        $scd: var(--scheme-color-darken);
        $scl: var(--scheme-color-lighten);

        //prettier-ignore
        // --drop-box-shadow: var(--distance-x) var(--distance-x) var(--distance-x)var(--distance-x) var(--distance-x),calc(#{var(--distance-y)} * -1) calc(#{var(--distance-y)} * -1) var(--distance-x) var(--distance-x) var(--distance-x);
        //prettier-ignore
        $dropBoxShadow: $dx $dy $b $s $scd, $ndx $ndy $b $s $scl;
        $insetBoxShadow: inset $dx $dy $b $s $scd, inset $ndx $ndy $b $scl;

        // to unquote when referencing: #{$concaveBoxShadow};
        $concaveBoxShadow: "#{$dropBoxShadow},  #{$insetBoxShadow}";

        $thumbScrollbarBoxShadow: inset $ndx $ndy $b $s $scd,
                inset $dx $dy $b $s$scl;
        /*-------------------------
      FORM COMPONENTS
-------------------------*/
        //RADIO
        .dui-radio {
                $radioIndicatorUncheckedBoxShadow: -4px -2px 4px 0px$scd,
                        4px 2px 8px 0px$scl;
                $radioIndicatorCheckedBoxShadow: -4px -2px 4px 0px$scl,
                        4px 2px 8px 0px$scd;

                .indicator {
                        box-shadow: $dropBoxShadow;
                }

                .indicator::before {
                        box-shadow: $radioIndicatorUncheckedBoxShadow;
                }

                .indicator::after {
                        box-shadow: $radioIndicatorCheckedBoxShadow;
                }
        }

        // RANGE SLIDER
        .range-slider {
                .range-slider__value {
                        background: $bgSurface;
                        box-shadow: $dropBoxShadow;
                        border: var(--border);
                }

                .range-slider__range {
                        background: $bgSurface;
                        box-shadow: $insetBoxShadow;
                        border: var(--border);
                }

                ::-webkit-slider-thumb {
                        background-color: $schemeColor;
                        box-shadow: $dropBoxShadow;
                        border: var(--border);
                }

                ::-webkit-slider-thumb:hover,
                input[type="range"]:focus {
                        box-shadow: #{$concaveBoxShadow};
                }

                ::-webkit-slider-thumb {
                        background: $bgSurface;
                }
        }

        // DROPDOWN
        .dropdown {
                button.focus,
                button:focus,
                .dropdown-label,
                .dropdown-menu {
                        box-shadow: $dropBoxShadow;
                        background: $bgSurface;
                }

                .dropdown-toggle {
                        background: $bgSurface;
                }

                button,
                .dropdown-menu,
                button:hover,
                .dropdown-item:hover {
                        background-color: $schemeColor;
                }

                &.show .dropdown-toggle,
                .dropdown-item:hover,
                button:hover {
                        box-shadow: #{$concaveBoxShadow};
                }

                button:hover,
                .dropdown-item:hover {
                        color: $highlightColor;
                }
        }

        .dropdown .dropdown-toggle {
                box-shadow: 3px 3px 4px$scd, 0px -3px 4px$scl;
        }

        // CHECKBOX
        .checkbox {
                label {
                        background: $bgSurface !important;
                        border: var(--border);
                }
        }

        // INPUT & TEXAREA
        .form-group {
                input,
                textarea {
                        background: $bgSurface !important;
                        border: var(--border);
                }
        }

        // SEGMENTED-CONTROL
        .segmented-control {
                background: $bgSurface;
                border: var(--border);
                .radio-selection {
                        border: var(--border);
                }
        }

        // TOGGLE
        .toggle {
                border: var(--border);
                .indicator {
                        border: var(--border);
                }
        }

        /*-------------------------
      CONTAINER COMPONENTS
-------------------------*/
        // CODE BLOCK
        .code-block {
                box-shadow: $insetBoxShadow;
                background: $bgSurface;
                border: var(--border);
        }

        //
        .badge-border {
                background: $bgSurface;
        }
        .image-border {
                background: $bgSurface;
                border: var(--border);
        }
        .box-border {
                background: $bgSurface;
                border: var(--border);
        }
        .setting-panel {
                border: var(--border);
                background: $bgSurface;
        }

        // TABLE
        table {
                border: var(--border);
                thead {
                        background: $bgSurface;
                }
        }

        // PROJECT-SPECIFIC
        .blog {
                .blog-intro {
                        background: $bgSurface;
                        border: var(--border);
                }
                .blog-image .after {
                        border: var(--border);
                }
        }
        .portfolio-single {
                .modal-content {
                        background: $bgSurface;
                }
        }

        /* TEXT DROP SHADOW */
        // $x: 2.5;
        // $y: 2.5;
        // $z: 3;
        // $textDropShadow : -#{$x}px -#{$y}px #{$z}px$scl,
        // #{$x}px #{$y}px #{$z}px$scd;
        // .title-wrapper {
        //         opacity: 1;
        //         margin-bottom: 2rem;
        //         margin-top: -1.5rem !important;
        // }

        // .title-wrapper span {
        //         text-shadow: $textDropShadow;
        //         color: $schemeColor;
        //         font-size: 3.5rem;
        // }

        // .title-content {
        //         display: none;
        // }

        /*-------------------------
      BASIC COMPONENTS
-------------------------*/
        /* BUTTON */
        .button {
                background: $bgSurface;
                border: var(--border);
        }
        .setting-button {
                background: $bgSurface;
        }

        .button-border,
        .box-border,
        .image-border,
        .badge-border,
        .setting-button-border,
        .segmented-control,
        .hero-03 .personal-image img,
        .checkbox label,
        .blog-intro,
        table,
        table thead,
        .form-group input:focus,
        .form-group textarea:focus,
        .setting-panel,
        .toggle .indicator {
                box-shadow: $dropBoxShadow;
        }

        .button.active,
        .setting-button.active,
        .radio-button-group .button.active,
        .custom-scrollbar,
        .blog .blog-image .after,
        .skill-boxes .box-border,
        //setting panel
        .setting-section .scrollable,
        .timeline-items.box-border,
        .radio-selection {
                box-shadow: $insetBoxShadow;
        }

        //    .form-group,
        .toggle,
        .form-group input,
        .form-group textarea,
        .skill-box .skillbar {
                box-shadow: #{$concaveBoxShadow}; //unquote
        }

        .section,
        .display-content > .container.none-bg,
        .button,
        .setting-button,
        .setting-button a,
        .setting-panel,
        .contact .form-item .form-group,
        .segmented-control,
        .checkbox label,
        .portfolio-single .modal-content,
        ::-webkit-scrollbar-track {
                background-color: $schemeColor;
        }

        // RADIO
        .segmented-control > input:not(:checked)px:not(:hover)px + label {
                color: $mutedBaseColor;
        }

        .button,
        .segmented-control > input:checked + label,
        .segmented-control > input:hover + label {
                color: $highlightColor;
        }

        // HOVER
        .button:hover,
        .badge-border:hover,
        table > tbody > tr:hover,
        .setting-button:hover {
                box-shadow: $insetBoxShadow;
        }

        // CHECKBOX
        .checkbox input:checked ~ label {
                box-shadow: $insetBoxShadow;
        }

        .checkbox input:not(:checked)px:not(:hover)px ~ label i,
        .checkbox input:not(:checked)px ~ label + .name {
                color: $mutedBaseColor;
        }

        .checkbox input:checked ~ label + .name,
        .checkbox input:checked ~ label i,
        .checkbox input:hover ~ label i {
                color: $highlightColor;
        }

        // SCROLLBAR
        ::-webkit-scrollbar-track {
                box-shadow: $insetBoxShadow;
                background-color: $schemeColor;
        }

        ::-webkit-scrollbar-thumb {
                box-shadow: $thumbScrollbarBoxShadow;
                background-color: $schemeColor;
        }
}
