.neu-style {
  --neu-distance-x: 3px;
  --neu-distance-y: 3px;
  --neu-blur: 4px;
  --neu-spread: 0px;
  --neu-lighten-intensity: 6.9%;
  --neu-darken-intensity: 6.9%;
  --neu-surface-curvature: 0%;
  --neu-border-width: 0px;
  --neu-border-brightness: -6.9%;
  --neu-border-style: solid;

  // prettier-ignore
  $lighten-surface: lightness(--dui-color-scheme, var(--neu-surface-curvature));
  // prettier-ignore
  $darken-surface: lightness(--dui-color-scheme, calc(var(--neu-surface-curvature) * -1));
  // prettier-ignore
  $bg-surface: linear-gradient(145deg,$lighten-surface,$darken-surface );

  $dx: var(--neu-distance-x);
  $ndx: calc(#{var(--neu-distance-x)} * -1);
  $dy: var(--neu-distance-y);
  $ndy: calc(#{var(--neu-distance-y)} * -1);
  $b: var(--neu-blur);
  $s: var(--neu-spread);
  // lighten & darken scheme color for shadows
  $scl: lightness(--dui-color-scheme, var(--neu-lighten-intensity));
  $scd: lightness(--dui-color-scheme, calc(var(--neu-darken-intensity) * -1));
  //prettier-ignore
  $drop-bs: $dx $dy $b $s $scd, $ndx $ndy $b $s $scl;
  $inset-bs: inset $dx $dy $b $s $scd, inset $ndx $ndy $b $scl;
  $concave-bs: unquote("#{$drop-bs},  #{$inset-bs}");
  // prettier-ignore
  $thumb-scrollbar-bs: inset $ndx $ndy $b $s $scd,inset $dx $dy $b $s$scl;
  // prettier-ignore
  $neu-border:var(--neu-border-width) var(--neu-border-style) lightness(--dui-color-scheme, var(--neu-border-brightness)) ;

  /*-------------------------
      CONTAINER COMPONENTS
-------------------------*/
  //add an overlay scheme color on the background image
  .display-content > .container::before {
    // box-shadow: inset 0 0 0 2000px rgba(var(--scheme-color), 0.85); // PARAM
  }

  //add a border  on the background image
  .display-content > .container:not(.none-bg) {
    // prettier-ignore
    @include border_pseudo_before(5px, $borderRadius ,$schemeColor, $drop-bs);
  }

  .setting-panel {
    box-shadow: $inset-bs;
  }
  /*-------------------------
      FORM COMPONENTS
-------------------------*/
  //RADIO
  .dui-radio {
    $radioIndicatorUncheckedBoxShadow: -4px -2px 4px 0px$scd,
      4px 2px 8px 0px$scl;
    $radioIndicatorCheckedBoxShadow: -4px -2px 4px 0px$scl, 4px 2px 8px 0px$scd;

    .indicator {
      box-shadow: $drop-bs;
    }

    .indicator::before {
      box-shadow: $radioIndicatorUncheckedBoxShadow;
    }

    .indicator::after {
      box-shadow: $radioIndicatorCheckedBoxShadow;
    }
  }

  // RANGE SLIDER
  .range-slider {
    .range-slider__value {
      background: $bg-surface;
      box-shadow: $drop-bs;
      border: $neu-border;
    }

    .range-slider__range {
      background: $bg-surface;
      box-shadow: $inset-bs;
      border: $neu-border;
    }

    ::-webkit-slider-thumb {
      background-color: $schemeColor;
      box-shadow: $drop-bs;
      border: $neu-border;
    }

    ::-webkit-slider-thumb:hover,
    input[type="range"]:focus {
      box-shadow: $concave-bs;
    }

    ::-webkit-slider-thumb {
      background: $bg-surface;
    }
  }

  // DROPDOWN
  .dropdown {
    button.focus,
    button:focus,
    .dropdown-label {
      box-shadow: $drop-bs;
      background: $bg-surface;
    }

    .dropdown-toggle {
      background: $bg-surface;
    }

    button,
    button:hover,
    .dropdown-item:hover {
      background-color: $schemeColor;
    }

    .dropdown-menu {
      background: $bg-surface;
      box-shadow: $inset-bs;
      background-color: $schemeColor;
      padding: 10px;
    }

    &.show .dropdown-toggle,
    button:hover {
      box-shadow: $concave-bs;
    }

    .dropdown-item:hover {
      box-shadow: $drop-bs;
    }

    button:hover,
    .dropdown-item:hover {
      color: $highlightColor;
    }
  }

  .dropdown .dropdown-toggle {
    box-shadow: 3px 3px 4px$scd, 0px -3px 4px$scl;
  }

  // CHECKBOX
  .checkbox {
    label {
      background: $bg-surface !important;
      border: $neu-border;
    }
  }

  // INPUT & TEXAREA
  .form-group {
    input,
    textarea {
      background: $bg-surface !important;
      border: $neu-border;
    }
  }

  // SEGMENTED-CONTROL
  .segmented-control {
    background: $bg-surface;
    border: $neu-border;
    .radio-selection {
      border: $neu-border;
    }
  }

  // TOGGLE
  .toggle {
    border: $neu-border;
    .indicator {
      border: $neu-border;
    }
  }

  /*-------------------------
      CONTAINER COMPONENTS
-------------------------*/
  // CODE BLOCK
  .code-block {
    box-shadow: $inset-bs;
    background: $bg-surface;
    border: $neu-border;
  }

  //
  .badge-border {
    background: $bg-surface;
  }
  .image-border {
    background: $bg-surface;
    border: $neu-border;
  }
  .box-border {
    background: $bg-surface;
    border: $neu-border;
  }
  .setting-panel {
    border: $neu-border;
    background: $bg-surface;
  }

  // TABLE
  table {
    border: $neu-border;
    thead {
      background: $bg-surface;
    }
  }

  // PROJECT-SPECIFIC
  .blog {
    .blog-intro {
      background: $bg-surface;
      border: $neu-border;
    }
    .blog-image .after {
      border: $neu-border;
    }
  }
  .portfolio-single {
    .modal-content {
      background: $bg-surface;
    }
  }

  /* TEXT DROP SHADOW */
  // $x: 2.5;
  // $y: 2.5;
  // $z: 3;
  // $textDropShadow : -#{$x}px -#{$y}px #{$z}px$scl,
  // #{$x}px #{$y}px #{$z}px$scd;
  // .title-wrapper {
  //         opacity: 1;
  //         margin-bottom: 2rem;
  //         margin-top: -1.5rem !important;
  // }

  // .title-wrapper span {
  //         text-shadow: $textDropShadow;
  //         color: $schemeColor;
  //         font-size: 3.5rem;
  // }

  // .title-content {
  //         display: none;
  // }

  /*-------------------------
      BASIC COMPONENTS
  -------------------------*/
  /* BUTTON */

  .button-wrapper,
  .button-border {
    background-color: $schemeColor;
    box-shadow: $drop-bs;
    position: relative;
    // ADHOC: using animation class from Animation.css causes box shadow to disappear
    animation-name: none;
    // add an outline in case using image background
    // TODO: do the same for other drop/concave box shadow components, setting button
    // prettier-ignore
    @include border_pseudo_before(7px, $borderRadius ,$schemeColor, $inset-bs);
    .button {
      background: $bg-surface;
      border: $neu-border;
    }
  }

  .setting-button {
    background: $bg-surface;
  }

  .box-border,
  .image-border,
  .badge-border,
  .setting-button-border,
  .segmented-control,
  .hero-03 .personal-image img,
  .checkbox label,
  .blog-intro,
  table,
  table thead,
  .form-group input:focus,
  .form-group textarea:focus,
  .toggle .indicator {
    box-shadow: $drop-bs;
  }

  .button.active,
        .setting-button.active,
        .radio-button-group .button.active,
        .custom-scrollbar,
        .blog .blog-image .after,
        .skill-boxes .box-border,
        //setting panel
        .setting-section .scrollable,
        .timeline-items.box-border,
        .radio-selection {
    box-shadow: $inset-bs;
  }

  //    .form-group,
  .toggle,
  .form-group input,
  .form-group textarea,
  .skill-box .skillbar {
    box-shadow: $concave-bs; //unquote
  }

  .section,
  .display-content > .container.none-bg,
  .button,
  .setting-button,
  .setting-button a,
  .setting-panel,
  .contact .form-item .form-group,
  .segmented-control,
  .checkbox label,
  .portfolio-single .modal-content,
  ::-webkit-scrollbar-track {
    background-color: $schemeColor;
  }

  // RADIO
  .segmented-control > input:not(:checked)px:not(:hover)px + label {
    color: $mutedBaseColor;
  }

  .button,
  .segmented-control > input:checked + label,
  .segmented-control > input:hover + label {
    color: $highlightColor;
  }

  // HOVER
  .button:hover,
  .badge-border:hover,
  table > tbody > tr:hover,
  .setting-button:hover {
    box-shadow: $inset-bs;
  }

  // CHECKBOX
  .checkbox input:checked ~ label {
    box-shadow: $inset-bs;
  }

  .checkbox input:not(:checked)px:not(:hover)px ~ label i,
  .checkbox input:not(:checked)px ~ label + .name {
    color: $mutedBaseColor;
  }

  .checkbox input:checked ~ label + .name,
  .checkbox input:checked ~ label i,
  .checkbox input:hover ~ label i {
    color: $highlightColor;
  }

  /*-------------------------
      NAVIGATION COMPONENTS
  -------------------------*/
  // SIDEBAR //
  .sidebar {
    background-color: $cs;
    box-shadow: $inset-bs;

    .legal {
      color: $csc;
    }

    .side-nav {
      &__link:link,
      &__link:visited {
        color: $cp;
      }

      &__link:hover,
      &__item--active > &__link {
        color: $cp;
      }

      &__item--active,
      &__item:hover {
        box-shadow: $concave-bs !important;
      }

      &__item {
        margin: calc(#{$dy}* 2.5) calc(#{$dx}* 2.5);

        box-shadow: $drop-bs;
        border-radius: var(--dui-border-radius);

        &::before {
          display: none;
        }
      }
    }

    &.neu-style-2 {
      box-shadow: $drop-bs;
      margin: calc(#{$dy}* 2) calc(#{$dx}* 2);
      .side-nav {
        &__item--active,
        &__item:hover {
          box-shadow: $inset-bs !important;
        }
        &__item {
          box-shadow: none;
        }
      }
    }
  }

  // SCROLLBAR
  ::-webkit-scrollbar-track {
    box-shadow: $inset-bs;
    background-color: $schemeColor;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: $thumb-scrollbar-bs;
    background-color: $schemeColor;
  }
}
