/* Utility classes to quickly apply common rule by adding class names,
if a rule contains many declarations, extract to mixin also */

// CONSIDER: add prefix u_ for utility classes?

// TEXT //
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}

// DISPLAY //
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-table {
  display: table !important;
}

// BOOTSTRAP SPACING //
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-0 {
  padding: 0rem !important;
}
.m-0 {
  margin: 0 !important ;
}

// BOOTSTRAP FLEXBOX //
.flex-row {
  flex-direction: row !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}

// CUSTOM FLEXBOX //
// TODO: add fill, max...
.flex-basis-content {
  flex-basis: content !important;
}
.flex-basis-0pc {
  flex-basis: 0% !important;
}
.flex-basis-10pc {
  flex-basis: 10% !important;
}
.flex-basis-20pc {
  flex-basis: 20% !important;
}
.flex-basis-30pc {
  flex-basis: 30% !important;
}
.flex-basis-40pc {
  flex-basis: 40% !important;
}
.flex-basis-50pc {
  flex-basis: 50% !important;
}

// OTHERS //
// to break new line when using float
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
