.flat-style {
        #flat-customizer {
                display: block !important;
        }
        .button-border {
                padding: 0;
        }
        input {
                border: 0;
        }

        .background-colorfull1,
        .background-colorfull2,
        .background-colorfull3 {
                opacity: 1 !important;
        }

        .image-border,
        .badge-border,
        .blog-image {
                padding: 0;
        }

        .button,
        // .image-border,
        .button-border,
        .personal-image img,
        .box-border,
        .box-hover-border,
        .contact .form-item .form-group,
        .checkbox label,
        .segmented-control,
        .radio-selection,
        .radio-button-group .button.active,
        .blog-intro,
        .blog .blog-image .after,
        .skill-box .skillbar,
        .setting-button-border,
        .setting-button,
        .setting-panel,
        table,
        table thead,
        .badge-border,
        .range-slider__range,
        .range-slider__value,
        ::-webkit-scrollbar-track,
        ::-webkit-scrollbar-thumb {
                box-shadow: none !important;
        }

        .radio-button-group .button:not(.active),
        .radio-button-group .button-border,
        .testimonial .owl-carousel .testimonial-image {
                background: transparent;
        }

        ::-webkit-scrollbar {
                width: 7px;
        }
}
