/*-------------------------
      FLAT STYLE LIGHT
-------------------------*/
.flat-style {
        #flat-customizer {
                display: block !important;
        }

        .background-colorfull1,
        .background-colorfull2,
        .background-colorfull3 {
                opacity: 1 !important;
        }

        .image-border,
        .badge-border,
        .blog-image {
                padding: 0;
        }

        .button,
        // .image-border,
        .button-border,
        .personal-image img,
        .box-border,
        .box-hover-border,
        .contact .form-item .form-group,
        .checkbox label,
        .segmented-control,
        .radio-selection,
        .radio-button-group .button.active,
        .blog-intro,
        .blog .blog-image .after,
        .skill-box .skillbar,
        .setting-button-border,
        .setting-button,
        .setting-panel,
        table,
        table thead,
        .badge-border,
        .range-slider__range,
        .range-slider__value,
        ::-webkit-scrollbar-track,
        ::-webkit-scrollbar-thumb {
                box-shadow: none !important;
        }

        .radio-button-group .button:not(.active),
        .radio-button-group .button-border,
        .testimonial .owl-carousel .testimonial-image {
                background: transparent;
        }

        ::-webkit-scrollbar {
                width: 7px;
        }
}


// .flat-style .portfolio-item-content {
//         box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1);
// }

// .flat-style .box-border {
//         background-color: #fefefe;
//         box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1);
// }

// .flat-style .blog-single .modal-content,
// .flat-style .portfolio-single .modal-content {
//         background-color: #f8f8f8;
// }

// .flat-style .testimonial-image-border {
//         background-color: #f8f8f8;
// }

// .flat-style .testimonial-image-border img {
//         padding: 4px;
//         background-color: transparent;
//         border: 1px solid #e3e5d2;
//         max-width: 100%;
//         height: auto;
// }

// .flat-style .skill-box .skillbar {
//         background-color: #e1e1e1;
// }

// .flat-style .menu li a {
//         box-shadow: none;
// }

// .flat-style .menu li a:hover,
// .flat-style .menu li a.active {
//         box-shadow: none;
// }

// .flat-style .button-border {
//         // box-shadow: none;
//         padding: 0;
// }

// .flat-style .button:hover,
// .flat-style .button.active,
// .flat-style .testimonial .owl-dot.active span,
// .flat-style .skill-box .skillbar,
// // .flat-style .blog-intro,
// .flat-style .contact .form-item .form-group,
// .flat-style .testimonial .owl-carousel .testimonial-image-border {
//         box-shadow: none;
// }

// .flat-style .button,
// .flat-style .radio-button-group .button.active,
// .flat-style .radio-button-group .button:hover {
//         color: #fafafa;
// }

// .flat-style .image-border {
//         // box-shadow: none;
//         background-color: transparent;
//         padding: 0rem;
// }

// .flat-style .box-border,
// .flat-style .box-hover-border,
// .flat-style .contact .form-item .form-group {
//         // background-color: rgba(240, 240, 240, 0.7);
//         // box-shadow: none;
// }

// .flat-style .testimonial .owl-carousel .testimonial-image::after,
// .flat-style .testimonial .owl-carousel .testimonial-image::before,
// .flat-style .blog-item::before,
// .flat-style .blog-image::after {
//         display: none;
// }

// .flat-style .testimonial .owl-carousel .testimonial-image,
// .flat-style .radio-button-group .button-border {
//         // background-color: transparent;
// }

// .flat-style .radio-button-group .button {
//         color: #3c3c3c;
// }

// .flat-style .blog-image {
//         background-color: #f8f8f8;
//         padding: 0;
// }