.neu-style {
        #neu-customizer {
                display: block !important;
        }

        .button {
                box-shadow: none;
        }

        .radio-selection {
                background: transparent !important;
        }

        ::-webkit-scrollbar {
                width: 11px;
        }

        .toggle .indicator {
                border-top: none !important;
                border-bottom: none !important;
        }
}
