// TODO: Separate static & dynamic properties

@mixin position_relative_title_bar_in_container(
        $container_padding,
        $container_width
) {
        position: relative;
        width: $container_width - 6px;
        top: -$container_padding + 2px;
        left: -$container_padding + 2px;
}

.win98-style {
        /* Color */
        $surface: #c0c0c0;
        $button_face: #dfdfdf;
        $button_highlight: #ffffff;
        $button_shadow: #808080;
        $window_frame: #0a0a0a;
        $dialog_blue: #000080;
        $dialog_blue_light: #1084d0;
        $dialog_gray: #808080;
        $dialog_gray_light: #b5b5b5;
        $link_blue: #0000ff;
        /* Borders */
        $border_width: 1px;
        $border_raised_outer: inset -1px -1px $window_frame,
                inset 1px 1px $button_highlight;
        $border_raised_inner: inset -2px -2px $button_shadow,
                inset 2px 2px $button_face;
        $border_sunken_outer: inset -1px -1px $button_highlight,
                inset 1px 1px $window_frame;
        $border_sunken_inner: inset -2px -2px $button_face,
                inset 2px 2px $button_shadow;
        /* Window borders flip button-face and button-highlight */
        $border_window_outer: inset -1px -1px $window_frame,
                inset 1px 1px $button_face;
        $border_window_inner: inset -2px -2px $button_shadow,
                inset 2px 2px $button_highlight;
        /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
        $border_field: inset -1px -1px $button_highlight,
                inset 1px 1px $button_shadow, inset -2px -2px $button_face,
                inset 2px 2px $window_frame;

        // SCROLL BAR
        ::-webkit-scrollbar {
                width: 16px;
        }
        ::-webkit-scrollbar:horizontal {
                height: 17px;
        }
        ::-webkit-scrollbar-corner {
                background: $button_face;
        }
        ::-webkit-scrollbar-track {
                border-radius: 0;
                background-color: #dbdbdb;
        }
        ::-webkit-scrollbar-thumb {
                border-radius: 0;
                background-color: $button_face;
                box-shadow: $border_raised_outer, $border_raised_inner;
        }
        ::-webkit-scrollbar-button:horizontal:start:decrement,
        ::-webkit-scrollbar-button:horizontal:end:increment,
        ::-webkit-scrollbar-button:vertical:start:decrement,
        ::-webkit-scrollbar-button:vertical:end:increment {
                display: block;
        }
        // TODO: for setting panel
        ::-webkit-scrollbar-button:vertical:start {
                height: 17px;
                background-image: url("/dui/icons/win98/button-up.svg");
                background-image: url("../icons/win98/button-up.svg");
        }
        ::-webkit-scrollbar-button:vertical:end {
                height: 17px;
                background-image: url("/dui/icons/win98/button-down.svg");
                background-image: url("../icons/win98/button-down.svg");
        }
        ::-webkit-scrollbar-button:horizontal:start {
                width: 16px;
                background-image: url("/dui/icons/win98/button-left.svg");
                background-image: url("../icons/win98/button-left.svg");
        }
        ::-webkit-scrollbar-button:horizontal:end {
                width: 16px;
                background-image: url("/dui/icons/win98/button-right.svg");
                background-image: url("../icons/win98/button-right.svg");
        }

        // CONTAINER COMPONENTS
        .display-content > .container,
        .setting-panel {
                border-radius: 0 !important;
                box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
                        inset -2px -2px grey, inset 2px 2px #fff;
        }
        .setting-panel {
                background-color: $schemeColor;
        }
        // TODO: media responsive
        .title-bar {
                display: flex;
                background: linear-gradient(90deg, navy, #1084d0);
                align-items: center;
                justify-content: space-between;
                padding: 3px 2px 3px 3px;
                height: 30px;

                // in case place  title bar outside  the container
                // width: 100%;
                // position: relative;
                // margin-right: auto;
                // margin-left: auto;
                // max-width: 1100px;
                // padding-right: 15px;
                // padding-left: 15px;

                // in case place  title bar inside the container
                // Option 1; absolute pos
                //     position: absolute;
                //     max-width: 1094px;
                //     top: 2px;
                //     left: 2px;
                //     // Option 2; relatieve pos
                @include position_relative_title_bar_in_container(40px, 1100px);

                .title-bar-text-wrapper {
                        display: none;
                }
                .title-bar-text {
                        color: #fff;
                        font-weight: 700;
                        letter-spacing: 0;
                        margin-right: 24px;
                        top: 0;
                        font-size: 1.35rem;
                        font-family: "Agency FB";
                }
                .title-bar-controls {
                        display: flex;
                }
                .title-bar-controls button {
                        border: none;
                        border-radius: 0;
                        box-sizing: border-box;
                        display: block;
                        min-height: 14px;
                        min-width: 16px;
                        padding: 0;
                        background: silver;
                        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff,
                                inset -2px -2px grey, inset 2px 2px #dfdfdf;
                        zoom: 1.4;
                }

                button:not(:disabled):active {
                        box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
                                inset -2px -2px #dfdfdf, inset 2px 2px grey;
                        padding: 2px 11px 0 13px;
                }

                .title-bar-controls button:active {
                        padding: 0;
                }
                .title-bar-controls button[aria-label="Minimize"] {
                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
                        background-position: bottom 3px left 4px;
                        background-repeat: no-repeat;
                }
                .title-bar-controls button[aria-label="Maximize"] {
                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
                        background-position: top 2px left 3px;
                        background-repeat: no-repeat;
                }
                .title-bar-controls button[aria-label="Close"] {
                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
                        background-position: top 3px left 4px;
                        background-repeat: no-repeat;
                        //       margin-left: 2px;
                }
                .title-bar-controls button[aria-label="Restore"] {
                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M2 0h6v2H2zM7 2h1v4H7zM2 2h1v1H2zM6 5h1v1H6zM0 3h6v2H0zM5 5h1v4H5zM0 5h1v4H0zM1 8h4v1H1z'/%3E%3C/svg%3E");
                        background-position: top 2px left 3px;
                        background-repeat: no-repeat;
                }
        }

        // TODO: find a solution so that don't need to manually define CSS rule
        //when applying title bar on a container
        .setting-panel .title-bar {
                display: flex !important;
                @include position_relative_title_bar_in_container(0px, 180px);
        }
        .setting-section .scrollable {
                height: 445px;
        }

        /* Code block */
        code,
        code * {
                font-family: monospace;
        }
        pre {
                display: block;
                background: $button_highlight;
                box-shadow: $border_field;
                padding: 12px 8px;
                margin: 0;
        }

        //BASIC COMPONENTS
        /* Button */
        .button {
                background: $surface;
                box-shadow: $border_raised_outer, $border_raised_inner;
                border: none;
                border-radius: 0;
                box-sizing: border-box;
                transition: all 0s !important;
        }
        .button.active,
        .button:not(:disabled):active {
                box-shadow: $border_sunken_outer, $border_sunken_inner;
        }
        .button:focus {
                outline: 1.5px dotted #000 !important;
                outline-offset: -5px;
        }
        @media (not(hover)) {
                .button:not(:disabled):hover {
                        box-shadow: $border_sunken_outer, $border_sunken_inner;
                }
        }

        /* Checkbox */
        .checkbox {
                label i {
                        display: none;
                }
        }
        input[type="checkbox"],
        input[type="radio"] {
                appearance: none;
                background: 0;
                border: none;
                margin: 0;
                opacity: 0;
                position: fixed;
        }
        input[type="checkbox"] + label:before {
                background: #fff;
                box-shadow: inset -1px -1px #fff, inset 1px 1px grey,
                        inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
                content: "";
                display: inline-block;
                height: 13px;
                left: 6px;
                top: 5px;
                margin-right: 6px;
                position: absolute;
                width: 13px;
                zoom: 1.2;
        }
        input[type="checkbox"]:checked + label:after {
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='%23000'/%3E%3C/svg%3E");
                content: "";
                display: block;
                height: 7px;
                left: 9.5px;
                top: 8px;
                position: absolute;
                width: 7px;
                zoom: 1.2;
        }

        /*Radio */
        input[type="radio"] + label {
                margin-left: 18px;
                position: relative;
        }
        .dui-radio .indicator::after {
                display: none;
        }
        input[type="radio"] + label:before {
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='%23fff'/%3E%3C/svg%3E");
                content: "";
                display: inline-block;
                height: 12px;
                left: 16px;
                margin-right: 6px;
                position: absolute;
                top: 8px;
                width: 12px;
        }
        input[type="radio"]:checked + label:after {
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H1v1H0v2h1v1h2V3h1V1H3V0z' fill='%23000'/%3E%3C/svg%3E");
                content: "";
                display: block;
                height: 4px;
                left: 20px;
                position: absolute;
                top: 12px;
                width: 4px;
        }

        /* Range slider */
        input[type="range"] {
                -webkit-appearance: none;
                width: 95%;
                background: transparent;
        }
        input[type="range"]:focus {
                outline: none;
        }
        input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 21px;
                width: 11px;
                background-image: url("/dui/icons/win98/indicator-horizontal.svg");
                background-image: url("../icons/win98/indicator-horizontal.svg");
                transform: translateY(-8px);
        }
        input[type="range"].has-box-indicator::-webkit-slider-thumb {
                background-image: url("/dui/icons/win98/indicator-rectangle-horizontal.svg");
                background-image: url("../icons/win98/indicator-rectangle-horizontal.svg");
                transform: translateY(-10px);
        }
        input[type="range"]::-moz-range-thumb {
                height: 21px;
                width: 11px;
                border: 0;
                border-radius: 0;
                background-image: url("/dui/icons/win98/indicator-horizonta.svg");
                background-image: url("../icons/win98/indicator-horizonta.svg");
                transform: translateY(2px);
        }
        input[type="range"].has-box-indicator::-moz-range-thumb {
                background-image: url("/dui/icons/win98/indicator-rectangle-horizontal.svg");
                background-image: url("../icons/win98/indicator-rectangle-horizontal.svg");
                transform: translateY(0px);
        }
        input[type="range"]::-webkit-slider-runnable-track {
                width: 100%;
                height: 2px;
                box-sizing: border-box;
                background: black;
                border-right: 1px solid grey;
                border-bottom: 1px solid grey;
                box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white,
                        -1px 0 0 darkgrey, -1px -1px 0 darkgrey,
                        0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
        }

        input[type="range"]::-moz-range-track {
                width: 100%;
                height: 2px;
                box-sizing: border-box;
                background: black;
                border-right: 1px solid grey;
                border-bottom: 1px solid grey;
                box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white,
                        -1px 0 0 darkgrey, -1px -1px 0 darkgrey,
                        0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
        }
        .range-slider__value {
                background: none;
                color: black;
        }

        /* Input & Textarea field + dropdown */
        input[type="email"],
        input[type="password"],
        input[type="text"],
        textarea,
        textarea:focus {
                border-radius: 0 !important;
                background-color: #fff !important;
                box-shadow: $border_field;
                padding: 3px 4px;
        }

        /* Dropdown */
        .dropdown {
                border-radius: 0 !important;
                background-color: #fff;
                box-shadow: $border_field;
                .dropdown-menu {
                        border-radius: 0;
                        background-color: $button_highlight;
                        .dropdown-item {
                                border-radius: 0;
                                &:hover {
                                        background-color: $dialog_blue_light;
                                        color: $button_highlight;
                                }
                        }
                }
        }
        .dropdown .dropdown-label:focus,
        .dropdown.show .dropdown-label {
                background-color: $dialog_blue;
        }
        .dropdown .dropdown-label:focus p,
        .dropdown.show .dropdown-label p {
                color: $button_highlight;
        }
        .dropdown .dropdown-label {
                border-radius: 0;
                background-color: transparent;
                padding: 0 10px;
        }
        .dropdown .dropdown-toggle {
                appearance: none;
                background-image: url("/dui/icons/win98/button-down.svg");
                background-image: url("../icons/win98/button-down.svg");
                // TOFIX: not font-responsive
                background-position: top 1px right 1px;
                background-repeat: no-repeat;
                background-size: 23px;
                border-radius: 0;
                background-color: transparent;
        }
        .dropdown.show .dropdown-toggle {
                background-image: url("/dui/icons/win98/button-down-active.svg");
                background-image: url("../icons/win98/button-down-active.svg");
                background-color: $dialog_blue;
        }
        .dropdown .dropdown-arrow {
                display: none;
        }

        /* Segmented control */
        .segmented-control {
                border-radius: 0;
                border: none;
                box-shadow: inset -1px -1px $button_highlight,
                        inset -2px 1px$button_shadow,
                        inset 1px -2px $button_shadow,
                        inset 2px 2px $button_highlight;
                padding: calc(2 * $border_width + 8px);
                padding-block-start: 8px;
                margin: 0;
        }
}
