@import "../base/_variables";

.button-border {
        display: inline-block;
        padding: 1px;
        border-radius: $borderRadius;
        transition: $transitionDuration all ease !important;
        -webkit-transition: $transitionDuration all ease !important;
}

.button {
        color: $highlightColor;
        border-radius: $borderRadius;
        padding: 10px 30px;
        transition: all 0.3s ease;
        font-size: 22px *$fontScale;
        font-weight: 500 !important;
        display: inline-block;

        i {
                font-size: 15px;
        }
}