// return css color variable w/ different opacity value
@function alpha($color, $opacity) {
        $hsl: get-hsl($color);
        @return hsla(nth($hsl, 1), nth($hsl, 2), nth($hsl, 3), $opacity);
}

// return css color variable w/ modified lightness value
@function lightness($color, $amount) {
        $hsl: get-hsl($color);
        @return hsl(
                nth($hsl, 1),
                nth($hsl, 2),
                calc(#{nth($hsl, 3)} + #{$amount})
        );
}

// https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/
@function contrast($color) {
        /* the threshold at which colors are considered "light." Range: integers from 0 to 100,
recommended 50 - 70 */
        $threshold: 60%;
        $hsl: get-hsl($color);
        $switch: calc((#{nth($hsl, 3)} - #{$threshold}) * -100);
        @return hsl(0, 0%, $switch);
}

@function get-hsl($color) {
        $color: str-replace($color, "var(");
        $color: str-replace($color, ")");
        $h: var(#{$color + "-h"});
        $s: var(#{$color + "-s"});
        $l: var(#{$color + "-l"});
        @return $h, $s, $l;
}

// replace substring with another string
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: "") {
        $index: str-index($string, $search);
        @if $index {
                @return str-slice($string, 1, $index - 1) + $replace +
                        str-replace(
                                str-slice(
                                        $string,
                                        $index + str-length($search)
                                ),
                                $search,
                                $replace
                        );
        }
        @return $string;
}
