:root {
  /* COLORS */
  /* Usage: (import abstracts/_functions.scss)
                        + Set alpha/transparency: alpha(--dui-color-primary, $alpha)
                        + Modify lightness: lightness(--dui-color-primary, $amount); 
                        + Get contrast (black/white): contrast(--dui-color-primary);
                        + Get complement (colorful constract): complement(--dui-color-primary);
                !!! Can not define CSS variable using those functions, only for reference !!!
        */
  @include defineHslColor(--dui-color-primary, 210, 100%, 30%);
  @include defineHslColor(--dui-color-scheme, 0, 0%, 83%);
  // @include defineHslColor(--dui-color-scheme, 120, 100%, 13%);
  @include defineHslColor(--dui-color-1, 159, 98%, 23%);
  @include defineHslColor(--dui-color-2, 29, 100%, 37%);
  @include defineHslColor(--dui-color-3, 344, 94%, 40%);
  // --dui-color-base: contrast(--dui-color-scheme);
  /* OTHERS */
  --dui-border-radius: 9px;
  // lg
  --dui-container-max-width: 1100px;
  --dui-container-padding: 40px;
  // TODO: sm - md...
}

$borderRadius: var(--dui-border-radius);
$transitionDuration: 0.8s;

/* FONT */
$fontRegular: "Agency FB", sans-serif;
$fontBold: "Agency FB Bold", sans-serif;
$fontTitle: "Poppins", sans-serif;
$fontScale: 1;
$fontTitleScale: 1;
$sliderMargin: 0px;
$badgeIconScale: 1;
