:root {
        /* Basic colors */
        // --scheme-color: #d4d4d4;
        // --highlight-color: #004b97;
        --dui-scheme: 212, 212, 212;
        --dui-primary: 0, 75, 151; // for highlighting
        --dui-primary-invert: #d4d4d4;
        // TODO: calculate following colors base on its origin (primary)
        --dui-primary-lighten-1: #0058b0;
        --dui-primary-lighten-2: #0064ca;
        --dui-primary-lighten-3: #0071e3;
        --dui-primary-darken-1: #003e7d;
        --dui-primary-darken-2: #003264;
        --dui-primary-darken-3: #00254a;
        --dui-base: black; // mostly for text <=> --dui-scheme-invert
        --dui-base-mute: #4d4d4d; //lightmute: #b2b2b2
        /* Classification colors */
        --dui-color-1: #01724b;
        --dui-color-2: #bc5b00;
        --dui-color-3: #c40639;
        --dui-color-1-invert: white;
        --dui-color-2-invert: white;
        --dui-color-3-invert: white;

        /* Others */
        --dui-border-radius: 9px;

        // lg
        --dui-container-max-width: 1100px;
        --dui-container-padding: 40px;
        // TODO: sm - md...
}

//SASS variables just to ease referecing in other SCSS files
$schemeColor: RGB(var(--dui-scheme));
$highlightColor: RGB(var(--dui-primary));
$contrastHighlightColor: var(--dui-primary-invert);
$baseColor: var(--dui-base);
$mutedBaseColor: var(--dui-base-mute);

$colorfull1: var(--dui-color-1);
$colorfull2: var(--dui-color-2);
$colorfull3: var(--dui-color-3);
$contrastColorfull1: var(--dui-color-1-invert);
$contrastColorfull2: var(--dui-color-2-invert);
$contrastColorfull3: var(--dui-color-3-invert);

$borderRadius: var(--dui-border-radius);
$transitionDuration: 0.8s;

/* FONT */
$fontRegular: "Agency FB", sans-serif;
$fontBold: "Agency FB Bold", sans-serif;
$fontTitle: "Poppins", sans-serif;
$fontScale: 1;
$fontTitleScale: 1;
$sliderMargin: 0px;
$badgeIconScale: 1;
